@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg {
    @apply bg-gray-200;
    height: calc(100vh - 72px);
  }

  .navbar-btn {
    @apply bg-white text-black font-bold py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-600 hover:bg-gray-200;
    border-radius: 2rem;
  }

  .download-btn {
    @apply bg-black text-white text-xl p-2 pr-3 pl-3 mt-3 rounded-3xl hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-600
  }

  .profile-picture {
    @apply rounded-full object-cover mr-4 hidden xl:block text-center;
    width: 25rem;
    height: 25rem;
  }

  .work-logo {
    @apply rounded-full object-cover hidden md:block mr-4 text-center;
    width: 10rem;
    height: 10rem;
  }

  .cu-logo {
    @apply object-cover ml-5 hidden xl:block text-center;
    height: 25rem;
  }

  .footer-img {
    @apply h-10 w-10 rounded-full lg:h-14 lg:w-14 hover:scale-105 focus:border-none focus:ring-2 focus:ring-blue-600;
  
  }
}

li {
  @apply mb-1
}

