@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    @apply flex justify-center lg:justify-end p-2 sticky top-0 h-10 md:h-12 lg:h-14 md:text-lg lg:text-2xl;
    background-color: rgba(40,40,40,0.95);
    border-bottom: 1px solid #1a1a1a;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
    z-index: 1000;
  }

  .red-rectangle {
    @apply bg-red-500 relative;
    height: 18px; /* Height of the rectangle */
    z-index: -1;
  }

  .profile_picture {
    @apply rounded-full object-cover text-center;
    width: 12rem;
    height: 12rem;
  }

  @screen lg {
    .profile_picture {
      width: 15rem;
      height: 15rem;
    }
  }

  @screen xl {
    .profile_picture {
      width: 18rem;
      height: 18rem;
    }
  }

  .project_bg {
    @apply w-3/4 xl:w-1/2 py-8 md:py-12 xl:py-16;
    z-index: -1;
  }

  @screen xl {
    .project_bg {
      margin-left: 15%;
    }
  }

  .project_image {
    @apply object-cover w-4/5;
  }

  .project_text {
    background-color: rgba(26, 26, 26, 0.4);
    right: 1%;
    width: 38%;
  }

  .project_text2 {
    background-color: rgba(26, 26, 26, 0.4);
    left: 1%;
    width: 38%;
  }

  @screen xl {
    .project_text {
      right: 5%;
    }

    .project_text2 {
      left: 5%;
    }
  }

  .skills_row {
    display: flex;
    flex-direction: column;
    justify-content: center
  }

  .skills_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 80px;
    border: double 3px transparent;
    border-image-slice: 1;
    border-width: 3px;
    background-image: linear-gradient(#1a1a1a, #1a1a1a),radial-gradient(circle at top left, #51a2e9, #ff4d5a);
    border-radius: 10px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    overflow: hidden
  }

  .skills_icon {
    width: 30px;
    height: 30px;
  }

  .skills_text {
    font-size: 0.6rem;
    font-weight: 600;
  }

  @screen md {
    .skills_item {
      height: 60px;
      width: 100px;
    }

    .skills_icon {
      width: 40px;
      height: 40px;
    }

    .skills_text {
      font-size: 0.7rem;
    }
  }

  @screen lg {
    .skills_item {
      height: 80px;
      width: 130px;
    }

    .skills_icon {
      width: 50px;
      height: 50px;
    }

    .skills_text {
      font-size: 0.8rem;
    }
  }

  .footer-img {
    @apply h-10 w-10 rounded-full xl:h-14 xl:w-14 hover:scale-95;
  
  }
}

@layer utilities {
  .bg-purp {
    background-color: #3216bb;
  }

  .bg-dgrey {
    background-color: #282828;
  }

  .button-transition:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #ff4d5a;
    z-index: -1;
    transition: height 0.3s;
  }

  .button-transition:hover:after,
  .button-transition:focus:after {
    height: 100%;
  }

  .button-transition2:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #ff4d5a;
    z-index: -1;
    transition: height 0.3s;
  }

  .button-transition2:hover:before,
  .button-transition2:focus:before {
    height: 100%;
  }

  @screen xl {
    .mr-15p {
      margin-right: 15%;
    }
  }
}
